[flake8]
max-line-length = 88
exclude =
    venv_*,
    venv_core,
    __pycache__,
    .vs,
    build,
    dist,
    scripts,
    output,
    models,
    clients,
    setup.py,
    simple_message_client.py,
    tests,
    paper,
    external,
    legacy,
    demo,
    core/tools/study,
    core/tools/study/math

per-file-ignores =
    main.py:E402
    memory/embedding_generator.py:E402
    core/utils/logger.py:E301,E402
    core/utils/common.py:E402
ignore =
    E203,
    E301,
    E111,
    E117,
    E114,
    E121,
    E122,
    E127,
    E128,
    E306,
    E261,
    E226,
    E251,
    E402,
    E701,
    E741,
    W291,
    W292,
    W293,
    W504,
    E302,
    E305,
    E303,
    E501,
    F401,
    F541,
    F811,
    F824,
    F841,
    W391,
    E722,
    W503
